backend/compose
backend/images
backend/src/services/generated
backend/.env
backend/.env.example
backend/.prettierrc.cjs
backend/README.md
backend/nodemon.json
backend/.gitignore
backend/db.sqlite
shared/.gitignore
shared/.prettierrc.cjs
shared/README.md
node_modules
frontend
admin
dist

.dockerignore
.gitignore
.git
Dockerfile

.env
